html, body {
    height: 100%;
    background: #fff;
    color: #333;
    padding: 0;
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
}

header {
    background: #f2f2f2;
    height: 50px;
    padding: 0 .5em;
    box-sizing: border-box;
}
h1 {
    margin: 0;
    line-height: 50px;
}

main {
    height: calc(100% - 100px);
    padding: 2em;
    box-sizing: border-box;
}

#todo {
    margin: 0;
}

#todo .task.completed {
    color: green;
}

footer {
    background: #333;
    color: #f2f2f2;
    height: 50px;
    text-align: right;
}
footer .links {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
footer .links li {
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
}
footer .links li a {
    color: #333;
    text-decoration: none;
}